.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card {
  border: 1px solid #cbced2;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  list-style-type: none;
  width: 100%;
  max-width: 1140px;
  padding: 32px;
}

.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #326a9d;
}
.description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}
.btn {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #326a9d;
  color: #326a9d;
}
